<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" href = "/css/bootstrap.min.css" >
    <script  src = "/javascripts/jquery-3.1.1.min.js" ></script>    
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script>
   
    <script type="text/javascript" src="/pnotify.custom.min.js"></script>
    <link href="/pnotify.custom.min.css" media="all" rel="stylesheet" type="text/css" />


    <style type="text/css">
      h1{

            font-size : 30px;
            font-color : blue;
        }
        p{
          font-size: 20px;`
          background-color: #8888ff;
        }
       body{
          background-image:url(http://www.lovethispic.com/uploaded_images/127484-Eerie-Full-Moon.jpg);
          background-size: cover;
       }
    </style>
  <body>
  <br><br><br><br>
  <div class="row">
  <div class="col-md-4 col-sm-4"></div>
  <div class="col-md-4 well well-lg">
    <h1><%= title %></h1>
    <p>Welcome to our website</p><br><br><br>
    <button type="button" id="login" class="btn btn-lg btn-danger pull-left">Login</button>
    <button type="button" id="sign" class="btn btn-lg btn-success pull-right">Sign Up</button>
    </div>
    </div>
    <script type="text/javascript">
      $("#login").click(function(e){
        window.location.href="/login";
      });
      $("#sign").click(function(e){
        window.location.href="/signup";
      });
      
    </script>
  </body>
</html>