<!DOCTYPE html>

<html>
   <head>
    <link rel = "stylesheet" href = "/css/bootstrap.min.css" >
    
		<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script>
  	<style type="text/css">
  		#para{

            font-size : 30px;
            font-color : 'blue';
        }
        #main{
        	background-color: #8888ff;
        }
  	</style>
  </head>
  <body>
    <h1>Welcome to our site</h1>

  
    Your Name : <%=result.name%><br>
    Your Email : <%=result.email%> <br> 
    <button type="button" id= 'sub-btn' class='btn btn-success'>Logout</button> 

      <script type="text/javascript">
  	
  	$("#sub-btn").click(function (){
        
        var data='logout';
        alert(data);
        $.ajax({

          url : '/logout',
          type: 'post',
          data : data,
          success : function(result){ 

            
            //window.location.reload();
            window.location.href = '/login';
            
            }               
        });   
      });
  </script>


  </body>
</html>
